default_settings:
  metal_width:
    value: 0.6
    description: The width of the metal trace between the routes

instances:
  a2:
    component: sky130_fd_sc_hd__a2111oi_0

  a3:
    component: sky130_fd_sc_hd__a311o_2

placements:
  a2:
    xmin: 30
  a3:
    xmin: a2,east
    dx: 10
    dy: 20

routes:
  electrical:
    links:
      a2,VGND: a3,VGND
    routing_strategy: get_bundle_electrical

    settings:
      cross_section: xs_metal1
      width: {{ metal_width }}