default_settings:
  dL:
    value: 100
    description: The pathlength difference between the two MZI's
instances:
  mmi1: 
    component: mmi1x2_sc
  mmi2: 
    component: mmi1x2_sc
placements:
  mmi2:
    port: o2
    x: mmi1,o3
    dx: 100
    y: mmi1,o3
    rotation: 180
routes:
  short_arm:
    routing_strategy: get_bundle_from_steps
    settings:
      steps:
        - dx: 20
        - dy: -20
        - dx: 50
      bend: bend_sc
      straight: straight_sc
    links:
      mmi1,o3: mmi2,o2
  long_arm:
    routing_strategy: get_bundle_from_steps
    settings:
      steps:
        - dx: 20
        - dy: {{ 20 + dL / 2 }}
        - dx: 50
      bend: bend_sc
      straight: straight_sc
    links:
      mmi1,o2: mmi2,o3
ports:
  o1: mmi1,o1
  o2: mmi2,o1